.App header {
  font-size: 90px;
  text-align: center;
  padding-bottom: 40px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

form {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  margin-bottom: 8px;
}

footer {
  text-align: center;
  margin-top: 150px;
}
