.headword {
  font-size: 60px;
  display: inline-block;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 25px;
}
.headword::first-letter {
  text-transform: capitalize;
}
span.sentence {
  display: inline-block;
}
span.sentence::first-letter {
  text-transform: capitalize;
}
ul.Synonyms {
  display: inline-block;
  font-size: 13px;
  margin-left: 40px;
}
ul.Synonyms::first-letter {
  text-transform: capitalize;
}
h4.speech {
  display: inline-block;
  font-size: 30px;
  color: black;
  margin-top: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h4.speech::first-letter {
  text-transform: capitalize;
}

h5 {
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
}
