.headword {
  font-size: 55px;
  display: inline-block;
  color: black;
  margin-right: 10px;
}
.headword::first-letter {
  text-transform: capitalize;
}

.label {
  opacity: 0.6;
  color: black;
  font-size: 20px;
}

.meanings {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

h5 {
  font-size: 20px;
  margin-bottom: 25px;
  color: black;
}

li {
  list-style: 1.5;
  font-size: 20px;
  color: black;
}
